torch
numpy
transformers
scikit-learn
faiss-cpu
neo4j
spacy
google-api-python-client
trafilatura
bs4
Flask 
flask-cors
groq
gunicorn
opencv-python==4.11.0.86
tensorflow==2.18.0
pillow
google-cloud-vision
openai
mtcnn
ffmpeg-python
